@CHARSET "UTF-8";

@font-face {
        font-family: 'font1';
        src: url(logotypejp_mp_m_1.1.ttf);
    }

.btn {
  border: 5px solid #DDD;
  font-size: 7em;
  border-radius: 20px;
  text-align: center;
  color: #FFF;
  padding: 100px;
  vertical-align: middle;
  display:  block;
      position: absolute;
      top: 45%;
      left: 30%;
}

.btn1 {
  font-family:'font1';
  background: #3AD2A9;

}

.btn1:active{
    padding: 100px;
    background-color:#2A9C7E;
    color:#e0ebf5;

}

body{
  background-image: url(topback.jpg);
}
