@CHARSET "UTF-8";

@font-face {
        font-family: 'font1';
        src: url(logotypejp_mp_m_1.1.ttf);
    }
.btn {
  border: 5px solid #DDD;
  font-size: 4em;
  border-radius: 20px;
  text-align: center;
  color: #FFF;
  padding: 25px;
  vertical-align: middle;
  width: 50%;
  display:  block;
}

.btn1:active{
    padding: 25px;
    background-color:#C02424;
    color:#e0ebf5;

}

.btn2:active{
    padding: 25px;
    background-color:#7725C9;
    color:#e0ebf5;
}

.btn3:active{
    padding: 25px;
    background-color:#ADDD2A;
    color:#e0ebf5;
}

.btn4:active{
    padding: 25px;
    background-color:#36C929;
    color:#e0ebf5;
}

.btn5:active{
    padding: 25px;
    background-color:#0A1D30;
    color:#e0ebf5;
}

.btn6:active{
    padding: 25px;
    background-color:#402B15;
    color:#e0ebf5;
}

.bbtn {
  float: left;
  border: 5px solid #DDD;
  font-size: 4em;
  border-radius: 20px;
  text-align: center;
  color: #FFF;
  padding: 25px;
  vertical-align: middle;
  width: 20%;
  margin-right: 175px;
}

.btn1 {
  font-family:'font1';
  background: #ff3030;
  margin-top: 75px;
}

.btn2 {
  font-family:'font1';
  background: #9830FF;
  margin-top: 75px;
}

.btn3 {
  font-family:'font1';
  background: #C9FF30;
  margin-top: 75px;
}

.btn4 {
  font-family:'font1';
  background: #42FF30;
  margin-top: 75px;
}

.btn5 {
  font-family:'font1';
  background: #123456;
  margin-top: 60px;
}

.btn6 {
  font-family:'font1';
  background: #654321;
  margin-top: 60px;
}

t1{
  color: orange;
  background-color: yellow;
}

body{
  background-image: url(top2.jpg);
}

#pic1{
  position: absolute;
  top: 700px;
  left: 900px;
}
